@use '@zocom/styles' as *;

.dashboard-top {
  display: flex;
  align-items: center;
  color: $snow;
  @include fontsizeExtraLarge;
}

.dashboard-columns {
  overflow: scroll;
  max-height: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  scrollbar-width: 10px;
  min-width: 50%;
}

.dashboard-columns::-webkit-scrollbar {
  display: none;
}
