@use '@zocom/styles' as *;

.cart-button__menu {
  @include columnNoGaps;
  background-color: $ash;
  width: $small-dimension;
  height: $small-dimension;
  border-radius: $radius-tier-2;
  position: relative;
  cursor: pointer;
}

.cart-logo {
  @include columnNoGaps;
  color: $clay;
}

.cart-count {
  background-color: $alert;
  border-radius: $radius-circle;
  width: $nano-dimension;
  height: $nano-dimension;
  color: $snow;
  padding: $padding-nano;
  @include center;
  margin-left: $margin-huge;
  margin-top: -$margin-sml;
  z-index: 1;
}

@keyframes cartHandleOpen {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cart-logo__top {
  transform-origin: right bottom;
  transition: transform 0.3s ease;
}

.cart-handle-animate {
  animation: cartHandleOpen 0.6s ease;
}
