@use '@zocom/styles' as *;

.status__text {
  @include fontsizeVeryLarge;
  color: $snow;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.status__eta {
  @include fontsizeLarge;
  color: $snow;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.status__order {
  @include fontsizeRegular;
  color: $snow;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.status__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
