@use "@zocom/styles" as *;

.dashboard-container {
  display: flex;
  justify-content: flex-start;
  background-color: $coal;
  margin: $margin;
  flex-direction: row;
  align-items: flex-start;
  color: $snow;
}
