@use '@zocom/styles' as *;

.menu-container {
  @include center;
  justify-content: flex-start;
  background-color: $clay;
  margin: $margin;
  // height: 43.0625rem;
}

.menu-heading {
  @include fontsizeVeryLarge;
  align-self: flex-start;
  color: $snow;
  padding: $padding;
}
