@use '@zocom/styles' as *;

.menu-item {
  @include fontsizeLarge;
  @include column;
  width: 100%;
  background-color: $clay;
  color: $snow;
  border-bottom: 1px dashed $shade-24-light;
  padding: $padding;
  gap: 0.25rem;
}

.menu-item:hover {
  cursor: pointer;
  background-color: $shade-12-light;
}

.menu-item__product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-shadow: $text-shadow-med;
  background: inherit;
  color: $snow;
  margin-bottom: 0.5rem;
  position: relative;
}
.menu-item__product:before {
  content: '';
  position: absolute;
  bottom: 0.4rem;
  width: 100%;
  border-bottom: 2px dotted $snow;
}

.menu-item-price {
  z-index: 1;
  background-color: inherit;
}
.menu-item-price:after {
  content: 'kr';
}

.menu-item-name {
  z-index: 1;
  background-color: inherit;
}

.menu-item__ingredients {
  @include fontsizeSmall;
  color: $snow;
  width: 100%;
  text-shadow: $text-shadow-sml;
}
