@use "@zocom/styles" as *;

.card-info {
    border-bottom: 1px solid $shade-24-dark;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: $margin;
    &__prod {
        display: flex;
        justify-content: space-between;
        width: 70%;
        background: inherit;
        position: relative;
        p {
            z-index: 1;

            margin: 0 0 $margin 0;
        }
    }
    &__total{
        width: 30%;
        text-align: right;
    }
}

.card-info__prod:before {
    content: '';
    position: absolute;
    top: 0.9rem;
    width: 100%;
    border-bottom: 1px dotted $coal;
  }