@use '@zocom/styles' as *;

.wrapper-mobile {
  @include center;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $mint;
  margin: $margin-center;
}

.wrapper-eta {
  @include centerElement;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $clay;
  margin: $margin-center;
}
.wrapper-done {
  @include centerElement;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $dark-mint;
  margin: $margin-center;
}

.wrapper-main {
  @include centerElement;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $mint;
  background-image: url(../assets/background.png);
  margin: $margin-center;
}

.wrapper-receipt {
  @include centerElement;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $clay;
  margin: $margin-center;
}

.wrapper-tablet {
  @include row;
  height: $wrapper-tablet-height;
  width: $wrapper-tablet-width;
}

.wrapper-cart {
  @include centerElement;
  height: $wrapper-mobile-height;
  width: $wrapper-mobile-width;
  background-color: $ash;
  margin: $margin-center;
}
