@use '@zocom/styles' as *;

.wrapper-mobile {
    @include center;
    height: $wrapper-mobile-height;
    width: $wrapper-mobile-width;
    background-color: $mint;
    margin: $margin-center;
}

.wrapper-main {
    @include center;
    height: $wrapper-mobile-height;
    width: $wrapper-mobile-width;
    background-color: $mint;
    background-image: url(../assets/background.png);
    margin: $margin-center;
}

.wrapper-tablet {
    @include center;
    height: $wrapper-tablet-height;
    width: $wrapper-tablet-width;
}

